__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.ipynb_checkpoints
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.csv
*.json
*.pickle
